#slideshow{   
	position: relative;
    overflow: hidden;
    width: 110%;
    top: 0%;
	height:70%;
	left: -1%;
}

#slideshowButton{
	position:absolute;
	height:20%;
	width:30%;
	background-image: linear-gradient(315deg, #631b1b , #A50000);
	
	border-radius: 1vw;
	display: flex;
	top:50%;
	left:2%;
	justify-content: center;
    align-items: center;
	text-align: center;
	color:white;
font-size: 5vw;	
transition: 0.5s ease-out;
   background-size:1px 200%; 
}

#slideshowButton:hover{
	 background-position:-100%;
}

#slideshowCanvas{
	position:absolute;
}
